.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;

  &__title {
    font-size: 80px;
    color: red;
    animation: err .4s infinite;
  }

  &__dscr {
    font-size: 30px;
  }

  &__link {
    font-size: 20px;
    color: red;
    padding-top: 20px;
  }

}

@keyframes err {
  20% {
    opacity: .2;
  }

  50% {
    opacity: .4;
  }

  80% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}