.singleBook {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  &__link {
    font-size: 18px;
    color: #000;
    transition: all .3s;
    margin-bottom: 20px;
    max-width: 150px;

    &:hover {
      color: red;
    }

    &-more {
      font-size: 25px;
      color: #fff;
      padding: 10px;
      border: 1px solid red;
      border-radius: 10px;
      max-width: 100px;
      margin: 30px 0;
      text-align: center;
      transition: all .3s;

      &:hover {
        background: red;
        border-color: #fff;
      }
    }
  }

  &__content {
    &-top {
      max-width: 500px;
      display: flex;
    }

    &-img {
      max-width: 50%;
    }
  }

  &__dscr {
    &-title {
      font-size: 40px;
      margin: 10px 15px;
    }

    &-author,
    &-publisher {
      font-size: 20px;
      margin: 10px 15px;
    }
  }

  &__bottom-dscr {
    font-size: 20px;
    max-width: 600px;
  }

}

@media(max-width: 500px) {
  .singleBook {
    margin-top: 10px;

    &__content-top {
      flex-direction: column;
    }

    &__dscr-title {
      font-size: 25px;
      margin: 10px 0;
    }

    &__bottom-dscr {
      font-size: 15px;
      max-height: 250px;
      overflow-y: auto;
    }
  }
}